/* Styles for the Employee List */
.employee-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .employee-list table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .employee-list th, .employee-list td {
    border: 1px solid black;
    padding: 4px;
  }
  
  /* Styles for the Selected Employee Details */
  .selected-employee-details h2 {
    text-align: center;
    margin-top: 10px;
  }
  
  .selected-employee-details table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .selected-employee-details th, .selected-employee-details td {
    border: 2px solid black;
    padding: 10px;
  }
  